@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
.nav1 {
  height: 80px;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
}
nav .logo {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background: #fff;
  color: #1b1b1b;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-icon {
  margin: 20px 10px;
  color: #333;
}

.result {
  margin: 0.5% 0 0.5% 0.5%;
  font-size: 200%;
}
/* Tables */
#lists {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin:auto auto;
}

#lists td,
#lists th {
  border: 1px solid #ddd;
  padding: 8px;
}

#lists tr:hover {
  background-color: #d0d1cf;
}

#lists th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
iframe {
  height: 600px;
  width: 90%;
  margin-right: 20%;
  margin-top: 2%;
}
/* media-query */

@media (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    display: block;
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    color: aqua;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: cyan;
  }
}

.result {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.mapreader{
 margin-left: 150px;
}