@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav1 {
  height: 80px;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
}
nav .logo {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background: #fff;
  color: #1b1b1b;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

.page-header {
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0%;
}

/* body {
  /* background: #644bff; */
/* padding: 0 20px; */
/* } */

::selection {
  color: #fff;
  background: #664aff;
}

.wrapper {
  max-width: 450px;
  margin: 80px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}
.icon fas fa-search {
  background: #644bff;
}
.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  /* color: #644bff; */
  color: #333;
  cursor: pointer;
  border: 0;
  background-color: white;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-icon {
  margin: 20px 10px;
  color: #333;
}
@media (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    display: block;
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    color: aqua;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: cyan;
  }
}
