<!DOCTYPE html>
<html>
  <head>
    <title>About Us Section</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_about.css') }}" />
  </head>
  <body>
    <nav class="nav1">
      <div class="logo">BUSINESS SITE</div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn"> <i class="fas fa-bars"></i></label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="#">Services</a></li> -->
        <!-- <li><a href="#">Skills</a></li> -->
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>We provide site location insights for your business</h3>
            <p>
              The system is built to recommend the user data value using the model which provides the recommendations for establising a business in a optimal location.Establishing business at the right location is critical for restuarants,retailers and many service providers.
            </p>
            <div class="button">
              <a href="">Read More</a>
            </div>
          </div>
          <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="image-section">
          <img src="{{ url_for('static', filename='images/img1.jpg') }}" />
        </div>
      </div>
    </div>
  </body>
</html>
