<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavBar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_mapview.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/8cfecf0240.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="nav1">
      <div class="logo">BUSINESS SITE</div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn"> <i class="fas fa-bars"></i></label>
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="#">Services</a></li> -->
        <!-- <li><a href="#">Skills</a></li> -->
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="result"><p>Suitable locations for {{xx}} in Bangalore</p></div>

    

    <table id="lists">
      <tr>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>

      {% for day in days %}
      <tr>
          <td>{{day[0]}}</td>
          <td>{{day[3]}}</td>
          <td>{{day[4]}}</td>
      </tr>
      {% endfor %}

    </table>
    <div class="mapreader">
      <iframe class="map" src="{{url_for('static', filename='map_clusters.html') }}" frameborder="0"></iframe>
    </div>
    <footer id="footer">
      <a href="#"><i class="fa-brands fa-twitter footer-icon"></i></a>
      <a href="#"> <i class="fa-brands fa-facebook-f footer-icon"></i></a>
      <a href="#"><i class="fa-brands fa-instagram footer-icon"></i></a>
      <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
      <p>© Copyright Business Site Selection</p>
    </footer>
    <script src="{{url_for('static', filename='javascript/jquery-3.6.0.min.js') }}"></script>
    <script src="{{url_for('static', filename='javascript/include-html.min.js') }}"></script>
  </body>
</html>
